<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <p>
    <strong>Description:</strong>
    <%= link_to "Edit this coin", edit_coin_path(@coin) %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= link_to "Back to coins", coins_path %>
  </p>

  <p>
    <strong>Url image</strong>
    <%= image_tag @coin.url_image, size: "25x25" %>
  </p>

  <%= link_to 'Edit', edit_coin_path(@coin) %> |
  <%= link_to 'Back', coins_path %>
</div>
